include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/ann_arbor *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ann_arbor/migration *.ini *.py *.mako
